---
# SPDX-FileCopyrightText: 2020 Anubhav Choudhary
# SPDX-FileCopyrightText: 2020 Nikunj Goyal
# SPDX-LicenseIdentifier: CC-BY-SA-4.0 
layout: default
css-include: /css/main.css
css-include: /css/home.css
sorted: 1
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(/assets/img/screenshot.png)"></div>
            <div class="carousel-text-overlay">
                <h1>{{ site.title }}</h1>
                <p>{{ site.description }}</p>
            </div>
        </div>
    </div>
</section>

<main aria-label="Content" style="margin-right: none;" id="content">
  <section id="home-available" class="pb-5 pt-5 mt-0">
    <div class="container text-center">
      <h2>Available on all major platforms</h2>
      <div class="d-flex justify-content-center mb-4 align-items-center">
        <a href="appstream://org.kde.elisa.desktop">
          <img src="/assets/img/tux.png" class="img-fluid ml-3 mr-3 align-self-center" width="64" />
        </a>
        <a href="https://www.microsoft.com/en-us/p/elisa/9pb5md7zh8tl">
          <img src="/assets/img/windows.png" class="img-fluid ml-3 mr-3 align-self-center" width="64" />
        </a>
      </div>
      <a href="/download.html" class="learn-more">Other ways to download</a>
    </div>
  </section>
  
  <div class="container">
    <h1>{{ site.title }} - {{ site.description }}</h1>
    <p style="max-width:none;"><b>Elisa</b>  is a music player developed by the KDE community that strives to be simple and nice to use. We also recognize that we need a flexible product to account for the different workflows and use-cases of our users. We focus on a very good integration with the Plasma desktop of the KDE community without compromising the support for other platforms (other Linux desktop environments, Windows and Android). We are creating a reliable product that is a joy to use and respects our users privacy. As such, we will prefer to support online services where users are in control of their data.</p>
    
    <div class="feature mt-4">
      <div>
        <h2>Browse music by album, artist or tracks</h2>
        <p>
          Elisa powered with baloo indexing support automatically looks in your music folder for music files, the icons are all pulled out of your folder.The left column has various viewing options: Now Playing, Albums, Artists, and Tracks.
        </p>
      </div>
      <div>
        <picture class="img-fluid">
          <source srcset="/assets/img/sort_options_dark.png" media="(prefers-color-scheme: dark)">
          <img src="/assets/img/sort_options.png">
        </picture>
      </div>
    </div>

    <div class="feature mt-4">
      <div>
        <h2>Create and manage playlists</h2>
        <p>Create and manage all your playlists from the built-in side panel.</p>
      </div>
      <div>
        <picture class="img-fluid">
          <source srcset="/assets/img/playlist_dark.png" media="(prefers-color-scheme: dark)">
          <img src="/assets/img/playlist.png">
        </picture>
      </div>
    </div>

    <div class="feature mt-4">
      <div>
        <h2>Party mode</h2>
        <p>Turn Party Mode On with Elisa's  immersive built-in party mode feature.</p>
      </div>
      <div class="party">
        <picture>
          <source srcset="/assets/img/party_dark.png" media="(prefers-color-scheme: dark)">
          <img src="/assets/img/party.png" class="img-fluid">
        </picture>
      </div>
    </div>
    <div class="dark-light mt-4">
      <img src="./assets/img/dark_white.png" class="img-fluid" width="80%">
      <h2>Dark / Light Themes</h2>
      <p>Elisa covers both, The <b>Light</b> and the <b>Dark</b> themes. This way you can enjoy your music without the colors bothering you.</p>
    </div>
  </div>

  <section class="background-blue">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/baloo.svg" width="128" height="128"/>
          <h2>Fast indexing</h2>
          <p>With the help of <a href="https://community.kde.org/Baloo">Baloo</a>, Elisa
          is fast to index and sort all your files. It is also possible to use Elisa without
          Baloo.</p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/kirigami.svg" width="128" height="128"/>
          <h2>Adapts to your screen</h2>
          <p>Elisa uses <a href="https://develop.kde.org/frameworks/kirigami/">Kirigami</a>
          to be the best convergent, responsive music player that apdats its content to your
          screen. Soon on your phone!</p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/osi.svg" width="128" height="128"/>
          <h2>Open Source</h2>
          <p>Elisa is Open Source and you can browse, edit and share the source code.
          Elisa is <a href="https://kde.org">Made By KDE</a>, a community building 
          hight quality projects that your ar free to use. Check out all <a href="https://kde.org/products">
          our projects!</a>
        </div>
      </div>
    </div>
  </section>
</main>

